@keyframes star
  0%
  100%
    box-shadow 0 0 25px transparent
    opacity 1
  50%
    box-shadow 0 0 5px $col-white
    opacity 0.4

@keyframes star1
  0%
  100%
    box-shadow 0 0 5px transparent
    opacity .4
  50%
    box-shadow 0 0 25px $col-white
    opacity 1


@keyframes animatedBackground
  0%
  100%
    background-position 50% 50%
  50%
    background-position 100% 50%
