@keyframes star
  0%
  100%
    box-shadow 0 0 25px transparent
    opacity 1
  50%
    box-shadow 0 0 5px $col-white
    opacity 0.7

@keyframes star1
  0%
  100%
    box-shadow 0 0 5px transparent
    opacity .8
  50%
    box-shadow 0 0 25px $col-white
    opacity 1


