@keyframes star
  0%
  100%
    box-shadow 0 0 25px transparent
    opacity 1
  50%
    box-shadow 0 0 5px $col-white
    opacity 0.4

@keyframes star1
  0%
  100%
    box-shadow 0 0 5px transparent
    opacity .4
  50%
    box-shadow 0 0 25px $col-white
    opacity 1


@keyframes animatedBackground
  0%
  100%
    background-position 50% 50%
  50%
    background-position 100% 50%

@keyframes animatedBackground1
  0%
  100%
    background-position 50% 0%
  50%
    background-position 100% 50%

@keyframes rotate
  0%
    transform rotate(0deg)
  100%
    transform rotate(-360deg)

@keyframes movePos
  from
    transform translate(-10px, 3%)
  to
    transform translate(0, 0)

@keyframes movePos1
  0%
  50%
    transform translate(-10px, 3%)
  100%
    transform translate(0, 0)

@keyframes movePos2
  0%
  50%
    transform translate(12px, 9px)
  100%
    transform translate(0, 0)

@keyframes movePos3
  0%
  75%
    transform translate(12px, 9px)
  100%
    transform translate(0, 0)

@keyframes moveSq
  0%
    transform translate(27px, -16px)
  100%
    transform translate(0, 0)

@keyframes moveSq1
  0%
    transform translate(-27px, -31px)
  50%
    transform translate(-32px, -20px)
  100%
    transform translate(0, 0)

@keyframes moveSq2
  0%
    transform translate(-21px, 16px)
  25%
    transform translate(-39px, -2px)
  75%
    transform translate(-18px, -8px)
  100%
    transform translate(0, 0)

@keyframes moveSector
  0%
    opacity .5
    transform translate(16px, 31px)
  100%
    opacity 1
    transform translate(0, 0)

@keyframes fadeOut
  0%
    opacity 0
  100%
    opacity 1
@keyframes fadeOut1
  0%
  50%
    opacity 0
  100%
    opacity 1

@keyframes fadeOut2
  0%
  75%
    opacity 0
  100%
    opacity 1

@keyframes moveM1
  0%
    transform translate(-47px, 26px)
  100%
    transform translate(0, 0)

@keyframes moveM2
  0%
    transform translate(72px, 36px)
  100%
    transform translate(0, 0)