.c-module
  &-admin
    .btn-default
      // color $color-black
      // border solid 1px #b6c0cf
      background #e4eaf3 
      background linear-gradient(top, white, #e4eaf3)
      color #354967
      border 1px solid #ccc
      // background-image -khtml-gradient(linear, left top, left bottom, from(#f3f6fa), to(#e1e8f1))
      // background-image -moz-linear-gradient(#f3f6fa, #e1e8f1)
      // background-image -ms-linear-gradient(#f3f6fa, #e1e8f1)
      // background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f6fa), color-stop(100%, #e1e8f1))
      // background-image -webkit-linear-gradient(#f3f6fa, #e1e8f1)
      // background-image -o-linear-gradient(#f3f6fa, #e1e8f1)
      // background-image linear-gradient(#f3f6fa, #e1e8f1)


      &:hover
        background #52a9e8
        background linear-gradient(top, #52a9e8, #3397de)
        color white
        border 1px solid #2b8fd5
        // background #eaeff5
        // color $color-black
        // background-repeat repeat-x
        // background-image -khtml-gradient(linear, left top, left bottom, from(#eaeff5), to(#e2e9f2))
        // background-image -moz-linear-gradient(#eaeff5, #e2e9f2)
        // background-image -ms-linear-gradient(#eaeff5, #e2e9f2)
        // background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeff5), color-stop(100%, #e2e9f2))
        // background-image -webkit-linear-gradient(#eaeff5, #e2e9f2)
        // background-image -o-linear-gradient(#eaeff5, #e2e9f2)
        // background-image linear-gradient(#eaeff5, #e2e9f2)

.bootstrap-select > .dropdown-toggle.bs-placeholder
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus
.bootstrap-select > .dropdown-toggle.bs-placeholder:active
  background #e4eaf3 
  background linear-gradient(top, white, #e4eaf3)
  color #354967
  border 1px solid #ccc
  