@font-face
  font-family 'Glypha LT Std'
  src url('../fonts/32411E_4_0.eot')
  src url('../fonts/32411E_4_0.eot?#iefix') format('embedded-opentype'), url('../fonts/32411E_4_0.woff2') format('woff2'), url('../fonts/32411E_4_0.woff') format('woff'), url('../fonts/32411E_4_0.ttf') format('truetype')
