
.icon-dropDown
  background url("../images/icon-dropDown.jpg") no-repeat
  width 14px
  height 14px
  display inline-block !important
.icon-preview
  background url(../images/icon-preview.png)
  display inline-block !important
  vertical-align middle
  width 21px
  height 12px
.icon-module
  background url(../images/icon-module.png)
  display inline-block !important
  vertical-align middle
  width 15px
  height 16px
.icon-remove
  // background url("../images/icon-remove.png") no-repeat
  width 13px
  height 14px
  display inline-block !important
  