global-reset()

.clearfix
  clearfix()

.clear
  clear both
*
  margin 0
  padding 0
  global-reset()

body
  font-family 'Heiti SC', 'Microsoft YaHei', 'Arial', sans-serif
  background #f8fbff



.btn:focus
.btn:active:focus
.btn.active:focus
.btn.focus
.btn:active.focus
.btn.active.focus
  outline none !important
