+bp(min, $desktop-min)
  .l-columns
    .col
      width 100%
      display-inline(top)
      &.ten
        width 10%
      &.twenty
        width 20%
      &.thirty
        width 30%
      &.forty
        width 40%
      &.fifty
        width 50%
      &.sixty
        width 60%
      &.seventy
        width 70%
      &.eighty
        width 80%

      