@keyframes flipouttoleft
  from
    transform rotateY(0)
  to
    transform rotateY(90deg) scale(0.9)
@keyframes flipintoleft
  from
    transform rotateY(0)
  to
    transform rotateY(-90deg) scale(0.9)
.c-card-flip
  opacity 0
  .grid-item
    width 32%
    float left
    position relative
    height 24vw
    margin-bottom 12px
    max-height 280px
    min-height 240px
    
    
    // border 1px solid #ccc
    &:nth-of-type(3n+2)
      margin-left 2%
      margin-right 2%
  &__grid
    margin-top 30px
    
      
    &__thumb
      width 100%
      height 18vw
      border-left 1px solid #ccc
      border-top 1px solid #ccc
      border-right 1px solid #ccc
      min-height 200px
      max-height 233px
      text-align center
      padding-top 5px
      img
        width 96%
    &__title
      // height 5vw
      height 40px
      line-height 40px
      text-align center
      border-left 1px solid #ccc
      border-bottom 1px solid #ccc
      border-right 1px solid #ccc
    &__buttons
    &__desc
      background #ee5f20
      color white
    &__desc
      height 18vw
      border-left 1px solid #ccc
      border-top 1px solid #ccc
      border-right 1px solid #ccc
      padding 20px 20px 
      min-height 200px
      max-height 233px
      .desc-title
        line-height 36px
      .desc-author
      .desc-title
        // color white
        font-size 18px
        
      .desc-content
        // color white
        font-size 14px
        line-height 20px
        margin-bottom 10px
      .desc-author
        line-height 20px
      
    &__buttons
      // height 5vw
      height 40px
      line-height 40px
      border-left 1px solid #ccc
      border-bottom 1px solid #ccc
      border-right 1px solid #ccc
      text-align center
      a
        display inline-block
        width 65px
        height 37px
        font-size 16px
        line-height 37px
        color white
        margin 0 10px
        &:active
        &:hover
        &:visited
          text-decoration none
        .icon-preview
          margin-right 5px
        .icon-module
          margin-right 5px




.card
  perspective 1000px
  position absolute
  &-front
    // animation-timing-function ease-out
    // animation-duration 350ms
  &-back
    // animation-timing-function ease-in
    // animation-duration 225ms

  &-side
    backface-visibility hidden
    transform translateX(0)
    position absolute
    width 100%
    &.card-back
      transform rotateY(-90deg) scale(.9)
      animation-name flipouttoleft
      animation-duration 225ms
     
    &.card-front
      animation-name flipintoleft
      animation-duration 225ms
      
    // .card-animation
    //   animation-duration 225ms