.c-chartTypeRadioGroup
  text-align left
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
  .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
  .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child)
    border-radius 0rem

  &:focus
    outline none
  .img-rounded
    border-radius 0
    max-width 50px
  label
    border-radius 0rem!important
    margin-right 0rem
    &.active
      background-color $moudal-bg-grey
  .btn
    padding 4px 4px 0 4px
    background-color $color-white
    margin-right .5rem
    margin-bottom .2rem