.filter-group
  background #e5f5ff
  padding 20px 10px
  margin-top 10px
  border 1px solid #d9e6f9
  display none
  .filter-item
    color $tabs-nav-text-active-blue
    padding 5px 10px
    margin 5px 10px
    display inline-block
    cursor pointer
    &.active
      background $btn-blue
      color white