.filter-group
  background #e5f5ff
  padding 20px 10px
  margin-top 10px
  .filter-item
    color $tabs-nav-text-active-blue
    padding 0 10px
    margin 5px 10px
    display inline-block
    &.active
      background $btn-blue
      color white