
// .c-footer


.c-footer
  background-color $background-blue
  font-family 'Microsoft YaHei', sans-serif
  font-size 14px
  text-align center
  padding  1em 0
  min-width 1024px
  bottom 0
  width 100%
  position relative
  p
    line-height 1.3em
    color $color-white

    
