
// form

.c-form
  .col-10-2
    width 20%
    float left
  .text-label
    color $tabs-nav-text-active-blue
    font-weight bold
    line-height 31px
  @media(min-width: $tablet-min)
    .text-label
      color $tabs-nav-text-active-blue



  //padding and maring
  .l-p-bottom-5
    padding-bottom 5em
  .l-p-top-5
    padding-top 5em
  .text-danger
    padding-top 1rem
  .l-p-1
    padding 1rem
  .l-m-l-0
    margin-left 0
  .l-p-top-1
    padding-top 1rem
  .l-p-top-2
    padding-top 2rem
  .l-p-top-3
    padding-top 3rem
  .l-p-left-2
    padding-left 1rem
  .l-p-right-2
    padding-right 1rem
  .l-p-2-1
    padding 2em 0 1em 0
  .l-p-1-2
    padding 1em 0 2em 0