
// form

.c-form
  .col-10-2
    width 20%
    float left
  .text-label
    color $tabs-nav-text-active-blue
    font-weight bold
    line-height 31px
  @media(min-width: $tablet-min)
    .text-label
      text-align
      color $tabs-nav-text-active-blue

    
