
// .c-footer

.c-header
  background $background-blue url("../images/bg-header.jpg") no-repeat left top
  color $color-white
  height 70px
  vertical-align middle
  font-family 'Microsoft YaHei' , 'Arial' , sans-serif
  position relative
  top 0
  left 0
  right 0
  min-width 1024px
  &__banner
    position absolute
    top 15px
    left 20px
    cursor default
    font-size 22px
    display inline-block
    vertical-align middle
    img
      width auto
      height 42px
      position relative
      float left
      left 0
    &--title
      position relative
      float left
      left 0
      line-height 47px
      padding-left 15px
  &__login
    position relative
    float right
    right 0
    height 70px
    line-height 70px
    top 0
    padding 0 10px
    cursor pointer
    &--user
      display inline-block
      padding-top 6px
      img
        max-width 30px
    b
      color $color-user
      padding 0 .5em
    a
      color $color-white
      font-size 14px
      &:link,
      &:visited
        text-decoration none
      &:hover
        text-decoration underline
      &:active
        text-decoration none

  
  a
    &:focus,
    &:hover
      outline none
    
