.c-module
  &-login
    background $color-white url(../images/bg-admin.png) no-repeat top left
    min-height 800px
    &__header
      min-width 1000px
      &--login
        width 150px
        min-height 150px
        display inline-block
        opacity .3
        img
          width 100%
      &--copy
        width 750px
        display inline-block
        vertical-align top
        color $tabs-nav-text-blue
        padding-left 2em
        font-family 'Microsoft YaHei'
        h3
          font-size 30px
          font-weight bold
          line-height em
        p
          font-size 14px
          line-height 2em
    &__desc
      color $tabs-nav-text-blue
      font-family 'Microsoft YaHei'
      position relative
      &-item
        margin-top 3em
        &:nth-child(1)
          p
            width 400px
        &:nth-child(2)
          p
            width 300px
        &:nth-child(3)
          p
            width 580px
        h3
          font-size 30px
          font-weight bold
          line-height 2em
          .ion-stop
            font-size 8px
            position absolute
            left -15px
            color $color-dot-blue
        p
          font-size 14px
          line-height 2em


    