.c-module
  &-createCharts
    &-select
      select
        width 33%
        float left
        margin-right .3%
    .text-label
      @media(max-width: $tablet-min)
        text-align left!important
    .button-single
      button
        min-width 100px
    &__table
      @extends .c-module-admin__table
      select
        display inline-block
        width 77%!important
      background-image none
    &__select
      padding-left 0
      padding-right 0













    