.c-module
  &-login
    background $color-white url(../images/bg-admin.png) no-repeat top left
    min-height 800px
    &__header
      min-width 1000px
      &--login
        width 150px
        min-height 150px
        display inline-block
        opacity .3
        img
          width 100%
      &--copy
        width 750px
        display inline-block
        vertical-align top
        color $tabs-nav-text-blue
        padding-left 2em
        margin-top 20px
        h3
          font-size 30px
          font-weight bold
          line-height 2em
  
        p
          font-size 16px
          line-height 1.5em
          color $main-text-grey

    &__desc
      color $tabs-nav-text-blue
      font-family $font-heiti
      position relative
      &-item
        margin-top 3em
        margin-left 10px
        &:nth-child(1)
          p
            width 400px
        &:nth-child(2)
          p
            width 300px
        &:nth-child(3)
          p
            width 580px
        h3
          font-size 30px
          font-weight bold
          line-height 2em
          a
            color #536a8d
            &:hover
              text-decoration none
          .ion-stop
            font-size 10px
            position absolute
            left -12px
            color $color-dot-blue
        p
          font-size 16px
          line-height 1.5em
          color $main-text-grey


    