
// module-edit

.c-module-edit
  margin 3rem auto 3rem 3rem
  min-width $tablet-min
  .radioGroup
    text-align left
    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
    .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
    .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child)
      border-radius 1rem
    label
      border-radius 1rem!important
      margin-right 1rem
      &:focus
        outline none
      &.active
        background-color $btn-blue
        color $color-white
    .btn
      margin-bottom .5rem
  .radioImgGroup
    text-align left
    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
    .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
    .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child)
      border-radius 0rem

    &:focus
      outline none
    .img-rounded
      border-radius 0
      max-width 50px
    label
      border-radius 0rem!important
      margin-right 0rem
      &.active
        background-color $moudal-bg-grey
    .btn
      padding 4px 4px 0 4px
      background-color $color-white
      margin-right .5rem
      margin-bottom .2rem
  .radioDouble
    text-align left
    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
    .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
    .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child)
      border-radius .5rem
    label
      border-radius .5rem!important
      &.active
        background-color $background-grey
    .btn
      margin-bottom .5rem
  .radioDouble,
  .radioImgGroup,
  .radioGroup
    .btn.active.focus
      outline 0!important
  .text-label
    color $tabs-nav-text-active-blue
    font-weight bold
  &__preview
    min-width 400px
    text-align center
    &-img
      width 100%
  &__left
    @media(min-width: $tablet-min)
      text-align right
  .form-group
    padding-right 1rem
  .text-label
    text-align left!important
  @media(min-width: $tablet-min)
    .text-label
      text-align right!important

  .button-group
    padding-top 3rem
  .button-single
    @media(min-width: $tablet-min)
      &:nth-child(1)
        text-align right
      &:nth-child(2)
        text-align left
    button
      min-width 100px
      @media(max-width: $tablet-max)
        width 100%

  @media(min-width: 1200px)
    .form-group
      padding-right 2rem


    
