.c-module-setup
  .setupOption-image
    background url('../images/module-setup-spirit-icons.png')
    background-repeat no-repeat
    width 83px
    height 66px
    background-position 0 0
    &--1
      background-position 0 0
      &.active
        background-position 0 -66px
    &--2
      background-position -95px 0
      &.active
        background-position -95px -66px
    &--3
      background-position -190px 0
      &.active
        background-position -190px -66px
    &--4
      background-position -285px 0
      &.active
        background-position -285px -66px
    &--5
      background-position -380px 0
      &.active
        background-position -380px -66px
    &--6
      background-position -475px 0
      &.active
        background-position -475px -66px
  .setupOptionImgGroup
    img
      display none
      width 100%
      &.active
        display block
  [type="radio"]
    display none
  button.btn-primary,
  button.btn-default
    min-width 90px
  .treeview
    .icon
      color $color-panel-icon
    .text-edit
      display inline-block
      word-wrap break-word
      input
        min-width 50px
        border none
      @media screen and (min-width: 768px) and (max-width: 992px)
        max-width 100px
      @media screen and (min-width: 993px) and (max-width: 1100px)
        max-width 120px
    .list-group
      margin-bottom 0px
      padding-bottom 0px
      &:not(:last-child)
        border-bottom 1px solid $border-panel-color
      &-second
        border none
        margin-left 20px
        .list-group-item
          padding 10px 0 5px 0
      &-third
        .list-group-item
          border none
          &:nth-child(1)
            margin-top 5px
          padding 10px 0 5px 0
    span.icon
      width 12px
      margin-right 5px
    .node-first,
    .node-second,
    .node-third
      color $tabs-nav-text-active-blue
      border none
    .node-first
      .text-edit
        font-weight bold
        font-size 100%
    .node-second
      .text-edit
        font-weight normal
        font-size 95%
    .node-third
      .text-edit
        font-weight normal
        font-size 90%
      .ion-stop
        font-size 7px
        position relative
        top -3px
    .ion
      color $color-panel-icon
      font-weight bold
      float right
      margin-right .6rem
      cursor pointer
      position relative
      &.ion-code
        transform rotate(90deg)
      &.ion.ion-arrow
        float right
        margin-right .6rem
        position relative
      &.ion-arrow-up-b
        top -3px
        position absolute
        font-size 85%
      &.ion-arrow-down-b
        top 6px
        position absolute
        font-size 85%
      &.ion-close
        margin-right 1.2rem
  .radioGroup
    label
      cursor pointer
  &-editMenu
    display none
  