.demandDataModal
  .modal-dialog
    min-width 550px!important
    .modal-header
      background-color  $login-blue-bg
      color $color-white
      button.close
        color $color-white
        opacity 1
    @media(min-width: $tablet-min)
      min-width 650px
  .c-form-input
    .file-label
      color $tabs-nav-text-active-blue
    .file-input
      padding-top 1rem
      &.file-input-new
        .file-preview
          background $bg-file-blue url('../images/thumbicon.png') no-repeat center
    .file-preview
      margin-top 1rem
      min-height 240px
      background none
      .krajee-default
        .file-caption-info,
        .file-size-info
          line-height 1em
        &.file-preview-frame
          width 96%
          .kv-file-content
            width auto
            max-height 300px

      .file-upload-indicator
        display none
      .fileinput-remove
        top 4px
        right 4px
      display inline-block
      line-height 2rem
    .file-caption
      height 34px
      &-name
        line-height 1.3rem

    .button-single
      button
        min-width 100px




    