
// module-edit

.c-module-edit
  margin 3rem auto 3rem 3rem
  min-width $tablet-min
  .text-label
    color $tabs-nav-text-active-blue
    font-weight bold
  &__preview
    min-width 400px
  &__left
    @media(min-width: $tablet-min)
      text-align right
  .form-group
    padding-right 2rem
    button
    min-width 100px
  .button-group
    padding-top 3rem
  .button-single
    @media(min-width: $tablet-min)
      &:nth-child(1)
        text-align right
      &:nth-child(2)
        text-align left
    button
      min-width 100px
      @media(max-width: $tablet-max)
        width 100%


    
