.c-module-charts
  max-width 1000px
  .nav-tabs
    a
      background $charts-tab-bg-blue
      &[aria-expanded="true"]
        border-top 3px solid $sidenav-bg-blue !important
        border-radius 0
      &:hover
        background none !important
        border-bottom 1px solid white !important
        
  .tab-content
    // padding 20px
    border-left 1px solid #ccc
    border-bottom 1px solid #ccc
    border-right 1px solid #ccc
    .tab-pane.active
      padding 20px
  .radio-group
    .btn
      margin-top 0.5rem
      margin-right 0.5rem
      border-radius 1rem
      position relative
      &:hover
        background none
      &.active
        background $btn-blue
        color white
        &:after
          content url(../images/filter-arrow.jpg)
          width 15px
          height 8px
          position absolute
          display block
          left 50%
          transform translateX(-50%)
          top 29px
  &__dropdown-menu
    position relative
    background #edf4fc
    height 60px
    width 100%
    padding 9px 10px
    &__list
      background #5085cd
      padding 15px 5px
      width 185px
      position absolute 
      z-index 1
      box-shadow 1px 3px 10px #ccc
      .icon-dropdown-arrow
        background-position 0 0
        position absolute
        right 10px
        top 50%
        transform translateY(-50%)
      &__item
        width 175px
        height 42px
        line-height 42px
        color white
        text-align center
        position relative
        border-radius 4px
        cursor pointer
        &.active
        &:hover
          background $color-panel-icon
          
        
        
    &__sub-list
      background #ddecff
      padding 15px 5px
      width 185px
      position absolute
      z-index 1
      box-shadow 1px 3px 10px #ccc
      .icon-dropdown-arrow
        background-position -7px 0
        position absolute
        right 10px
        top 50%
        transform translateY(-50%)
      .c-module-charts__dropdown-menu__list__item
        width 175px
        height 42px
        line-height 42px
        color $tabs-nav-text-active-blue
        text-align center
        &.active
        &:hover
          background #b1ccf1
    &__selected
      width 175px
      height 42px
      line-height 42px
      background $color-panel-icon
      color white
      text-align center
      position relative
      border-radius 4px
      cursor pointer
      .icon-dropdown-arrow
        background-position 0 0
        position absolute
        right 10px
        top 50%
        transform translateY(-50%)
    
  &__grid
    margin-top 30px
    .grid-item
      width 32%
      float left
      position relative
      height 24vw
      margin-bottom 12px
      max-height 280px
      min-height 240px
      
      
      // border 1px solid #ccc
      &:nth-of-type(3n+2)
        margin-left 2%
        margin-right 2%
      
    &__thumb
      width 100%
      height 18vw
      border-left 1px solid #ccc
      border-top 1px solid #ccc
      border-right 1px solid #ccc
      min-height 200px
      max-height 233px
      img
        width 100%
    &__title
      // height 5vw
      height 40px
      line-height 40px
      text-align center
      border-left 1px solid #ccc
      border-bottom 1px solid #ccc
      border-right 1px solid #ccc
    &__buttons
    &__desc
      background #ee5f20
      color white
    &__desc
      height 18vw
      border-left 1px solid #ccc
      border-top 1px solid #ccc
      border-right 1px solid #ccc
      padding 20px 20px 
      min-height 200px
      max-height 233px
      .desc-title
        line-height 36px
      .desc-author
      .desc-title
        // color white
        font-size 18px
        
      .desc-content
        // color white
        font-size 14px
        line-height 20px
        margin-bottom 10px
      .desc-author
        line-height 20px
      
    &__buttons
      // height 5vw
      height 40px
      line-height 40px
      border-left 1px solid #ccc
      border-bottom 1px solid #ccc
      border-right 1px solid #ccc
      text-align center
      a
        display inline-block
        width 65px
        height 37px
        font-size 16px
        line-height 37px
        color white
        margin 0 10px
        &:hover
          text-decoration none
        .icon-preview
          background url(../images/icon-preview.png)
          display inline-block
          vertical-align middle
          width 21px
          height 12px
          margin-right 5px
        .icon-module
          background url(../images/icon-module.png)
          display inline-block
          vertical-align middle
          width 15px
          height 16px
          margin-right 5px
          
  &__search-container
    margin-top 5px
    &__button
      padding 0 20px
      border-radius 6px
    &__button
    input
      height 35px
  .button-remove
    display none