.c-module-setup
  .panel
    margin-bottom 10px
    border-radius 0
  .col-sm-0
    min-height 0
  .setupOption-image
    background url('../images/module-setup-spirit-icons.png')
    background-repeat no-repeat
    width 83px
    height 66px
    background-position 0 0
    &--1
      background-position 0 0
      &.active
        background-position 0 -66px
    &--2
      background-position -95px 0
      &.active
        background-position -95px -66px
    &--3
      background-position -190px 0
      &.active
        background-position -190px -66px
    &--4
      background-position -285px 0
      &.active
        background-position -285px -66px
    &--5
      background-position -380px 0
      &.active
        background-position -380px -66px
    &--6
      background-position -475px 0
      &.active
        background-position -475px -66px
  [type="radio"]
    display none
  button.btn-primary,
  button.btn-default
    min-width 90px
  @media screen and (min-width: 768px) and (max-width: 991px)
    .col-sm-0
      display none
  .treeview
    .icon
      color $color-panel-icon
    .text-edit
      display inline-block
      word-wrap break-word
      line-height 1.2em
      input
        min-width 50px
        border none
      @media screen and (min-width: 768px) and (max-width: 991px)
        max-width 100px
      @media screen and (min-width: 993px) and (max-width: 1100px)
        max-width 120px
    .list-group
      margin-bottom 0px
      padding-bottom 0px
      &:not(:last-child)
        border-bottom 1px solid $border-panel-color
      &-second
        border none
        .list-group-item
          padding 0
      &-third
        .list-group-item
          border none
          padding 0
          border-radius 0
          &:hover
            background-color $bg-panel-hover-blue
            color $color-white
            .ion
              color $color-white
            .c-icon-edit
              content url('../images/icon-edit-white.png')
          .text-info
            font-size .9rem
            display inline
            margin-right .3rem
      &-item
        padding 10px
        line-height 1.8rem
        height auto
    span.icon
      width 12px
      margin-right 5px
    .node-first,
    .node-second,
    .node-third
      color $tabs-nav-text-active-blue
      border none
    .node-first
      .text-edit
        font-weight bold
        font-size 1.1rem
    .node-second
      .icon.expand-icon.ion-arrow-down-b
        margin-left 20px
      .text-edit
        font-weight normal
        font-size 1rem
    .node-third
      .icon.node-icon.ion-stop
        margin-left 20px
      .text-edit
        font-weight normal
        font-size .9rem
      .ion-stop
        font-size 7px
        position relative
        top -3px
    .ion
      color $color-panel-icon
      font-weight bold
      float right
      margin-right .6rem
      cursor pointer
      position relative
      top 6px
      display none
      line-height 1.2em
      &.ion-code
        transform rotate(90deg)
      &.ion.ion-arrow
        float right
        margin-right .6rem
        position relative
      &.ion-arrow-up-b
        top -2px
        position absolute
        font-size 85%
      &.ion-arrow-down-b
        top 7px
        position absolute
        font-size 85%
      &.ion-close
        margin-right 1.2rem
  .radioGroup
    label
      cursor pointer
  &-menu
    padding 1em .5em
    background-color #e2efff
    border 1px solid #ddd
    border-bottom none
    margin-bottom 0px!important
  &-addMenu
    display none
  &-confirm
    display none
  &-button
    border-top 1px solid $border-panel-color
  &.hasItem
    .panel-body
      background none!important
  &.isEdit
    .panel-body
      background $color-white url('../images/icon-menu.png') no-repeat center
    .treeview
      .list-group
        .ion
          display inline-block
          &.text-info
            display none
        &-third
          .list-group-item
            &:hover
              background none
              color $tabs-nav-text-active-blue
            .ion
              color $color-panel-icon
    .c-module-setup-editMenu
      display none
    .c-module-setup-addMenu,
    .c-module-setup-confirm
      display block
      margin-bottom 10px
      @media screen and (min-width: 768px)
        margin-bottom 0px


  .setupOptionImgGroup
    .c-module-setup__item
      display none
      width 100%
      &.active
        display block
  &__item
    height 369px
    width 553px
    margin 0 auto
    background-color $color-white
    position relative
    padding 2%
    &-btn
      margin auto
      width 90%
      height 50%
      text-align center
      position relative
      top 35%
      color $color-btn-blue
      font-weight bold
      span.ion-plus-round
        font-size 3em
        position relative
        top -.5em
    &-block
      background-color $bg-file-blue
      border 1px dashed $color-panel-icon
      width 48%
      height 48%
      float left
    &-one
      .c-module-setup__item-block
        width 100%
        height 100%
    &-two-h
      .c-module-setup__item-block
        height 100%
        width 49%
        &:nth-child(1)
          margin-right 2%
    &-two-v
      .c-module-setup__item-block
        float none
        height 49%
        width 100%
        &:nth-child(2)
          position relative
          top 2.5%
    &-four
      .c-module-setup__item-block
        width 49%
        height 49%
        &:nth-child(1)
          margin-bottom 1.7%
          margin-right 2%
        &:nth-child(3)
          margin-right 2%
    &-three-v
      .c-module-setup__item-block
        height 49%
        &:nth-child(1)
          margin-bottom 1.7%
          width 100%
        &:nth-child(2)
          margin-right 2%
          width 49%
        &:nth-child(3)
          width 49%
    &-three-h
      .c-module-setup__item-block
        width 49%
        height 49%
        &:nth-child(2)
          float right
          height  100%
        &:nth-child(3)
          position relative
          top 2%