
// modal

.modal
  .modal-header
    height 36px
    padding 0 20px
    .modal-title
      line-height 36px
      font-size 14px
      font-weight bold
    .close
      color $color-white
      opacity .9
      margin-top 10px
      &:hover
        opacity 1
.loginModal
  @media(min-width: $tablet-min)
    margin-top -300px
    top 50%
  .modal-header
    background-color $login-blue-bg
    color $color-white
  .modal-dialog
    @media(min-width: $tablet-min)
      width 400px
  .modal-body
    padding 2rem 1rem
  @media(min-width: $tablet-min)
    .text-label
      text-align right

  button
    font-size 20px
    font-weight bold
    background #e4eaf3 
    background linear-gradient(top, white, #e4eaf3)
    width 152px
    height 47px
    line-height 47px
    padding 0
    color #354967
    border 1px solid #ccc
    &:hover
      background #52a9e8
      background linear-gradient(top, #52a9e8, #3397de)
      color white
      border 1px solid #2b8fd5

  .button-group
    padding-top 2rem
    .button-single
      @media(min-width: $tablet-min)
        &:nth-child(1)
          text-align right
        &:nth-child(2)
          text-align left
      button
        @media(max-width: $tablet-max)
          width 100%

.moduleEdit,
.modalSetup,
.modalConfirm,
.modalAddData,
.modalChartsPreview
  textarea
    resize none
    min-height 100px
  @media(min-width: $tablet-min)
    margin-top -300px
    top 50%
  .modal-header
    background-color $login-blue-bg
    color $color-white
  .modal-dialog
    @media(min-width: $tablet-min)
      width 400px
  .modal-dialog
    @media(min-width: $tablet-min)
      min-width 450px
  .modal-body
    padding-right 2rem
    padding-left 2rem
    background-color $bg-moudule-edit
    color $tabs-nav-text-active-blue
  .control-group
    select.input-xlarge
      width 100%
      min-height 100px
  .button-group
    padding-top 2rem
    .button-single
      @media(min-width: $tablet-min)
        &:nth-child(1)
          text-align center
  .modal-header
    button
      min-width auto

  button
    min-width 100px
    outline none!important
  .control-group
    padding-top 2rem
    button
      min-width 70px
      margin-bottom 10px
      border-radius 1rem
  #businessIndex
    min-height 210px
    scroll auto

  label.form__label.ion-android-warning
    font-size 100px
    color $color-lignt-orange
  .text-description
    font-size 16px
    line-height 150%
    margin-top 1rem
.modalSetup
  .button-single
    text-align center

.modalAddData
  @media(min-width: $tablet-min)
    margin-top -400px
    top 50%
  .button-group
    padding-top 0rem
  .modal-dialog
    min-width 720px
    .modal-header
      border 0
    .modal-body
      padding 0
      .nav-tabs[role="tab"]
        background-color #e2efff
        li[role="presentation"]
          text-align left
          font-weight bold
          padding .6em 1em .5em
          img
            width 1.5em
            vertical-align middle
            margin-right .5em
            position relative
            top -1px
      .tab-pane
        padding 1rem 1rem
        .c-chartTypeRadioGroup,
        .input-group
          text-align center
        .input-group
          padding-left  7%
          padding-right  8%
  &-select
    margin 0 auto
    margin-left 3em
    margin-right 3.4em

.modalDataType
  @extends .modalAddData
  .modal-dialog
    min-width 450px
  &-btn
    width 145px
    height 145px
    border 1px solid $color-border-blue1
    border-radius .2em
    margin 0 auto
    position absolute
    font-weight bold
    color $login-blue-bg
    background-color $bg-slick-blue
    cursor pointer
    text-align center
    vertical-align middle
    line-height 2em
    padding-top 2em
    img
      display inline-block
      height 46px
      width auto
    span
      display block
    &:hover
      background-color $bg-dark-blue
  &-grid
    position relative
    min-height 180px
    &:nth-child(1)
      .modalDataType-btn
        right 1em
    &:nth-child(2)
      .modalDataType-btn
        left 1em



// 业务表单 preview
.modalChartsPreview
  .modal-dialog
    width 760px
  table
    border 1px solid #dde8f8
    width 100%
    tr
      th
        font-weight bold
        font-size 16px
        color #354967
      td
        font-size 14px
        color #5c5c5c
      th
      td
        border-right 1px solid #dde8f8
        border-bottom 1px solid #dde8f8
        text-align center
        padding 10px
        &:nth-last-of-type
          border-right none
      &:nth-of-type(1)
        background-color #dde8f8
      &:nth-of-type(2n+3)
        background-color #f4f9ff
      &:nth-last-of-type(1)
        th
        td
          border-bottom none

//数据需求
.demandDataModal
  .btn.btn-primary.btn-file
    @extends .c-module-admin .btn-default
    border-radius 4px
  .input-group.file-caption-main
    float right
    width 65%
  .file-input.file-input-new
    position relative
    top -1em
  [for="fileUpload"]
    position relative
    top 1.5em
        


    
