.c-module-setup
  .setupOption-image
    background url('../images/module-setup-spirit-icons.png')
    background-repeat no-repeat
    width 83px
    height 66px
    background-position 0 0
    &--1
      background-position 0 0
      &.active
        background-position 0 -66px
    &--2
      background-position -95px 0
      &.active
        background-position -95px -66px
    &--3
      background-position -190px 0
      &.active
        background-position -190px -66px
    &--4
      background-position -285px 0
      &.active
        background-position -285px -66px
    &--5
      background-position -380px 0
      &.active
        background-position -380px -66px
    &--6
      background-position -475px 0
      &.active
        background-position -475px -66px
  .setupOptionImgGroup
    img
      display none
      width 100%
      &.active
        display block
  [type="radio"]
    display none
  button.btn-primary,
  button.btn-default
    min-width 90px
  .treeview
    .list-group
      &:not(:first-child):not(:last-child),
      &:first-child
        padding-bottom 1rem
        margin-bottom 1rem
        border-bottom 1px solid $border-panel-color
    span.icon
      width 12px
      margin-right 5px
    .node-first,
    .node-second,
    .node-third
      color $tabs-nav-text-active-blue
      border none
    .node-first
      font-weight bold
    .node-second
      padding-left 35px
    .node-third
      padding-left 55px
      .ion-stop
        font-size 7px
        position relative
        top -3px
    .ion
      color $color-panel-icon
      font-weight bold
      float right
      margin-right 1rem
      cursor pointer
      &.ion-code
        transform rotate(90deg)
  .radioGroup
    label
      cursor pointer
  .list-group-item
    &:hover
      background-color $bg-panel-hover-blue
      color $color-white
      .ion
        color $color-white
  