.c-module-charts
  max-width 1090px
  .nav-tabs
    a
      background $charts-tab-bg-blue
      &[aria-expanded="true"]
        border-top 3px solid $sidenav-bg-blue !important
        border-radius 0
        
  .radio-group
    .btn
      margin-top 0.5rem
      margin-right 0.5rem
      border-radius 1rem
      &:hover
        background none
      &.active
        background $btn-blue
        color white
  &__grid
    .grid-item
      width 32%
      float left
      position relative
      &:nth-of-type(3n+2)
        margin-left 2%
        margin-right 2%
      
    &__thumb
      width 100%
      img
        width 100%
    &__title
      text-align center