.c-module
  &-slick
    position relative
    .slick-arrow
      position absolute
      top 50%
      height 3rem
      width 1rem
      background-color $login-blue-bg
      border-color $login-blue-bg
      .glyphicon
        top 27%
        right .4rem
      &.slick-next
        right .5rem
      &.slick-prev
        left .5rem
    &-group
      padding 1rem 2rem
      margin-left
      li
        min-width 400px
        .row
          margin-right 0px
          margin-left  0px
    &-detail
      background-color $bg-slick-blue
      padding 10px
      margin 2px
      width 49%





    