mixin chartTypeRadioGroup()
  .c-chartTypeRadioGroup
    .btn-group(data-toggle="buttons")
      label.btn
        input#chartType1(type="radio", name="dataChartType1")
        img(src="./assets/images/moudule-icon-1.jpg", alt="item", class="img-rounded")
      label.btn
        input#chartType2(type="radio" name="dataChartType2")
        img(src="./assets/images/moudule-icon-2.jpg", alt="item", class="img-rounded")
      label.btn
        input#chartType3(type="radio" name="dataChartType3")
        img(src="./assets/images/moudule-icon-3.jpg", alt="item", class="img-rounded")
      label.btn
        input#chartType4(type="radio" name="dataChartType4")
        img(src="./assets/images/moudule-icon-4.jpg", alt="item", class="img-rounded")
      label.btn
        input#chartType5(type="radio" name="dataChartType5")
        img(src="./assets/images/moudule-icon-5.jpg", alt="item", class="img-rounded")
      label.btn
        input#chartType6(type="radio" name="dataChartType6")
        img(src="./assets/images/moudule-icon-6.jpg", alt="item", class="img-rounded")
