mixin module-create-menu(jsscroll)
    .form-group.c-module-setup-addMenu.c-module-setup-menu
        button.btn.btn-default.js-open-modal(type='button' data-action="addFirst") 添加菜单
    .form-group.c-module-setup-editMenu.c-module-setup-menu
        button.btn.btn-default.js-edit-menu(type='button') 编辑菜单

    .panel.panel-default
            - var scrollName = jsscroll
            .panel-body(class="#{scrollName}")
                div(data-tree-view)
                    input.js-tree-menu(type="hidden" , name="treeMenu" id="treeMenu"   value='')
                    .js-menu-item.treeview
                        //基本结构
                        ul.list-group.list-group-first
                            li.list-group-item.node-first(data-index = "0")
                                span.icon.expand-icon.ion-arrow-down-b
                                span.icon.node-icon
                                span.text-edit.text-first 关于我们
                                span.ion.ion-arrow
                                    span.ion.ion-arrow-down-b.js-arrow-down(data-action="orderFirst")
                                    span.ion.ion-arrow-up-b.js-arrow-up(data-action="orderFirst")
                                span.ion.ion-close.js-remove-node(data-action="removeALL")
                                span.ion.ion-edit.js-edit-text
                                span.ion.ion-plus-round.js-open-modal(data-action="addSecond")
                                ul.list-group.list-group-second
                                    li.list-group-item.node-second(data-index = "1")
                                        span.icon.expand-icon.ion-arrow-down-b
                                        span.icon.node-icon
                                        span.text-edit.text-second 公司简介
                                        span.ion.ion-arrow
                                            span.ion.ion-arrow-down-b.js-arrow-down
                                            span.ion.ion-arrow-up-b.js-arrow-up
                                        span.ion.ion-close.js-remove-node(data-action="removeSecond")
                                        span.ion.ion-edit.js-edit-text
                                        span.ion.ion-plus-round.js-open-modal(data-action="addThird")
                                        ul.list-group.list-group-third
                                            li.list-group-item.node-third(data-index = "2")
                                                span.icon.glyphicon
                                                span.icon.node-icon.ion-stop
                                                span.text-edit.text-third 联系电话
                                                span.ion.ion-arrow
                                                    span.ion.ion-arrow-down-b.js-arrow-down
                                                    span.ion.ion-arrow-up-b.js-arrow-up
                                                span.ion.ion-close.js-remove-node(data-action="removeThird")
                                                span.ion.ion-edit.js-edit-text
                                                span.ion.text-info.js-edit-info 设置菜单内容布局
                                                span.ion.c-icon-edit.text-info.js-edit-info



