mixin header(login)
  .c-header
    .c-header__banner
      img(src=paths.img + "logo.png", alt="TD logo")
      span.c-header__banner--title!=header.title
    .c-header__login
      - if(login)
        span.c-header__login--user
          img.img-rounded(src=paths.img + "icon-user.png", alt="")
        a.c-header__login(href="./index.html")
          span 退出
        a.c-header__login
          span Hi,
          b Fishwon
          span 欢迎登录

      - else
        span
          .icon-user
        a.c-header__login(href="#" data-toggle='modal', data-target='#loginModal')
          span!=header.login






