mixin module-setup-radios()
  .c-module-setup__right.l-p-bottom-2.js-module-setup-radios(data-js-module-setup-radios)
    .row
      .col-sm-12
        .form-group.text-label
          label.form__label(for="setupOption") 菜单详情-内容布局
    .row.radioGroup
      .col-sm-3.col-xs-2.col-md-3.col-lg-2
        label
          input#setupOption1(type='radio', name='setupOption', autocomplete='off')
          .setupOption-image.setupOption-image--1.js-radio-item(data-image="setupOptionImg1")
      .col-sm-3.col-xs-2.col-md-3.col-lg-2
        label
          input#setupOption2(type='radio', name='setupOption', autocomplete='off')
          .setupOption-image.setupOption-image--2.js-radio-item(data-image="setupOptionImg2")
      .col-sm-3.col-xs-2.col-md-3.col-lg-2
        label
          input#setupOption3(type='radio', name='setupOption', autocomplete='off')
          .setupOption-image.setupOption-image--3.js-radio-item(data-image="setupOptionImg3")
      .col-sm-3.col-xs-2.col-md-3.col-lg-2
        label
          input#setupOption4(type='radio', name='setupOption', autocomplete='off')
          .setupOption-image.setupOption-image--4.js-radio-item(data-image="setupOptionImg4")
      .col-sm-3.col-xs-2.col-md-3.col-lg-2
        label
          input#setupOption5(type='radio', name='setupOption', autocomplete='off')
          .setupOption-image.setupOption-image--5.js-radio-item(data-image="setupOptionImg5")
      .col-sm-3.col-xs-2.col-md-3.col-lg-2
        label
          input#setupOption6(type='radio', name='setupOption', autocomplete='off')
          .setupOption-image.setupOption-image--6.js-radio-item(data-image="setupOptionImg6")
    .row.setupOptionImgGroup.js-radio-images
      .col-sm-12
        .c-module-setup__item.active.c-module-setup__item-one#setupOptionImg1
          .c-module-setup__item-block
            .c-module-setup__item-btn.js-add-menu-info.hide
              span.icon.ion-plus-round
              br
              span 位置1添加数据
            .c-module-setup__item-img.js-add-menu-info
              img(src="./assets/images/chart/icon-chart-bar-1.png", alt="item")
              span.c-module-setup__item-caption  柱状图说明
        .c-module-setup__item.c-module-setup__item-two-h#setupOptionImg2
          .c-module-setup__item-block
            .c-module-setup__item-btn.js-add-menu-info.hide
              span.icon.ion-plus-round
              br
              span 位置1添加数据
            .c-module-setup__item-img.js-add-menu-info
              img(src="./assets/images/chart/icon-chart-pie-2.png", alt="item")
              span.c-module-setup__item-caption  饼状图说明
          .c-module-setup__item-block
            .c-module-setup__item-btn.js-add-menu-info.hide
              span.icon.ion-plus-round
              br
              span 位置2添加数据
            .c-module-setup__item-img.js-add-menu-info
              img(src="./assets/images/chart/icon-chart-graph-2.png", alt="item")
              span.c-module-setup__item-caption  曲线图说明
        .c-module-setup__item.c-module-setup__item-two-v#setupOptionImg3
          .c-module-setup__item-block
            .c-module-setup__item-btn.js-add-menu-info.hide
              span.icon.ion-plus-round
              br
              span 位置1添加数据
            .c-module-setup__item-img.js-add-menu-info
              img(src="./assets/images/chart/icon-chart-radar-3.png", alt="item")
              span.c-module-setup__item-caption  雷达图说明
          .c-module-setup__item-block
            .c-module-setup__item-btn.js-add-menu-info.hide
              span.icon.ion-plus-round
              br
              span 位置2添加数据
            .c-module-setup__item-img.js-add-menu-info
              img(src="./assets/images/chart/icon-chart-bar-3.png", alt="item")
              span.c-module-setup__item-caption  柱状图说明
        .c-module-setup__item.c-module-setup__item-three-h#setupOptionImg4
          .c-module-setup__item-block
            .c-module-setup__item-btn.js-add-menu-info.hide
              span.icon.ion-plus-round
              br
              span 位置1添加数据
            .c-module-setup__item-img.js-add-menu-info
              img(src="./assets/images/chart/icon-chart-pie-4.png", alt="item")
              span.c-module-setup__item-caption  饼状图说明
          .c-module-setup__item-block
            .c-module-setup__item-btn.js-add-menu-info.hide
              span.icon.ion-plus-round
              br
              span 位置2添加数据
            .c-module-setup__item-img.js-add-menu-info
              img(src="./assets/images/chart/icon-chart-graph-2.png", alt="item")
              span.c-module-setup__item-caption  曲线图说明
          .c-module-setup__item-block
            .c-module-setup__item-btn.js-add-menu-info.hide
              span.icon.ion-plus-round
              br
              span 位置3添加数据
            .c-module-setup__item-img.js-add-menu-info
              img(src="./assets/images/chart/icon-chart-radar-4.png", alt="item")
              span.c-module-setup__item-caption  雷达图说明
        .c-module-setup__item.c-module-setup__item-three-v#setupOptionImg5
          .c-module-setup__item-block
            .c-module-setup__item-btn.js-add-menu-info.hide
              span.icon.ion-plus-round
              br
              span 位置1添加数据
            .c-module-setup__item-img.js-add-menu-info
              img(src="./assets/images/chart/icon-chart-bar-3.png", alt="item")
              span.c-module-setup__item-caption  柱状图说明
          .c-module-setup__item-block
            .c-module-setup__item-btn.js-add-menu-info.hide
              span.icon.ion-plus-round
              br
              span 位置2添加数据
            .c-module-setup__item-img.js-add-menu-info
              img(src="./assets/images/chart/icon-chart-radar-4.png", alt="item")
              span.c-module-setup__item-caption  雷达图说明
          .c-module-setup__item-block
            .c-module-setup__item-btn.js-add-menu-info.hide
              span.icon.ion-plus-round
              br
              span 位置3添加数据
            .c-module-setup__item-img.js-add-menu-info
              img(src="./assets/images/chart/icon-chart-pie-4.png", alt="item")
              span.c-module-setup__item-caption  饼状图说明
        .c-module-setup__item.c-module-setup__item-four#setupOptionImg6
          .c-module-setup__item-block
            .c-module-setup__item-btn.js-add-menu-info.hide
              span.icon.ion-plus-round
              br
              span 位置1添加数据
            .c-module-setup__item-img.js-add-menu-info
              img(src="./assets/images/chart/icon-chart-bar-4.png", alt="item")
              span.c-module-setup__item-caption  柱状图说明
          .c-module-setup__item-block
            .c-module-setup__item-btn.js-add-menu-info.hide
              span.icon.ion-plus-round
              br
              span 位置2添加数据
            .c-module-setup__item-img.js-add-menu-info
              img(src="./assets/images/chart/icon-chart-pie-4.png", alt="item")
              span.c-module-setup__item-caption  饼状图说明
          .c-module-setup__item-block
            .c-module-setup__item-btn.js-add-menu-info.hide
              span.icon.ion-plus-round
              br
              span 位置3添加数据
            .c-module-setup__item-img.js-add-menu-info
              img(src="./assets/images/chart/icon-chart-graph-4.png", alt="item")
              span.c-module-setup__item-caption  曲线图说明
          .c-module-setup__item-block
            .c-module-setup__item-btn.js-add-menu-info.hide
              span.icon.ion-plus-round
              br
              span 位置4添加数据
            .c-module-setup__item-img.js-add-menu-info
              img(src="./assets/images/chart/icon-chart-radar-4.png", alt="item")
              span.c-module-setup__item-caption  雷达图说明



