mixin slickCarousel()
  .row
    .col-sm-12
      .button.btn.btn-primary.slick-arrow.slick-prev
      .button.btn.btn-primary.slick-arrow.slick-next
      .form-group.l-padding-top-3
        ul.js-select-data
          li(data-id="0") 1111
          li(data-id="1") 2222
          li(data-id="2") 3333
          li(data-id="3") 4444
          li(data-id="4") 5555
