mixin slickCarousel()
  .row.c-module-slick(data-slick-detail)
    .col-sm-12
      .button.btn.btn-primary.slick-btn.slick-btn-prev
        .glyphicon.glyphicon-chevron-left
      .button.btn.btn-primary.slick-btn.slick-btn-next
        .glyphicon.glyphicon-chevron-right
      .form-group.c-module-slick-group
        ul.js-select-data
          li
            .row
              .c-module-slick-detail
                span 数据权限对比模块
                span.ion.ion-close.js-remove-detail
              .c-module-slick-detail
                span 数据权限对比模块
                span.ion.ion-close.js-remove-detail
              .c-module-slick-detail
                span 数据建模雨需求分析
                span.ion.ion-close.js-remove-detail
              .c-module-slick-detail
                span 数据建模雨需求分析
                span.ion.ion-close.js-remove-detail
              .c-module-slick-detail
                span 民航飞机空军专用器械图
                span.ion.ion-close.js-remove-detail
              .c-module-slick-detail
                span 民航飞机空军专用器械图
                span.ion.ion-close.js-remove-detail
              .c-module-slick-detail
                span 数据权限对比模块
                span.ion.ion-close.js-remove-detail
              .c-module-slick-detail
                span 数据权限对比模块
                span.ion.ion-close.js-remove-detail
              .c-module-slick-detail
                span 数据建模雨需求分析
                span.ion.ion-close.js-remove-detail
              .c-module-slick-detail
                span 数据建模雨需求分析
                span.ion.ion-close.js-remove-detail

            .row
              .c-module-slick-detail
                span 民航飞机空军专用器械图
                span.ion.ion-close.js-remove-detail
              .c-module-slick-detail
                span 民航飞机空军专用器械图
                span.ion.ion-close.js-remove-detail
          li
            .row
              .c-module-slick-detail
                span 民航飞机空军专用器械图
                span.ion.ion-close.js-remove-detail
              .c-module-slick-detail
                span 民航飞机空军专用器械图
                span.ion.ion-close.js-remove-detail
          li
            .row
              .c-module-slick-detail
                span 数据权限对比模块
                span.ion.ion-close.js-remove-detail
              .c-module-slick-detail
                span 数据权限对比模块
                span.ion.ion-close.js-remove-detail

