mixin stickyBar()
  .c-stickyBar
    .row.button-group.c-module-setup-button.l-p-top-1
      .col-sm-6.col-xs-6
        .form-group.text-right
          button.btn.btn-primary(type='button') 保存
      .col-sm-6.col-xs-6
        .form-group.text-left
          button.btn.btn-default(type='button' data-dismiss='modal' aria-label='Close') 取消
