extends ../partials/_template

block content
  .c-mainFrame
    .row-fluid
      .c-mainFrame__sideNav(data-js-sideNav, data-status="open")
        .menuSideBar
          .c-mainFrame__sideNav__arrow.js-arrow(data-status="open")
            .c-mainFrame__sideNav__arrow__image
          ul#menuSideBar.c-mainFrame__sideNav__navList.nav.nav-list
            li.subnav-1-item
              a(href="javascript:void(0)", mid="tab1", funurl="module-data.html") 
                b 模型概览
            li.subnav-1-item
              a(href="javascript:void(0)", mid="tab2", funurl="module-charts.html") 
                b 业务表单
            li.subnav-1-item
              a(href="javascript:void(0)", mid="tab3", funurl="module-setup.html") 
                b 网站构建
            li.subnav-1-item
              a(href="javascript:void(0)", mid="tab4", funurl="module-edit.html") 
                b 模型编辑
            li.subnav-1-item
              a(href="javascript:void(0)", mid="tab5", funurl="module-source.html")
                b 数据源
            li.subnav-1-item
              a(href="javascript:void(0)", mid="tab6", funurl="module-demand.html")
                b 需求数据
            //- li.subnav-1-item(data-expanded="false")
            //-   span 数据管理
            //-   //- 二级菜单
            //-   ul.subnav-2-list
            //-     li.subnav-2-item(data-expanded="false")
            //-       span 用户管理
            //-       //- 三级
            //-       ul.subnav-3-list
            //-         li.subnav-3-item
            //-           a(href="javascript:void(0)", mid="tab1", funurl="module-preview.html") 
            //-             b 模型概览
            //-         li.subnav-3-item
            //-           a(href="javascript:void(0)", mid="tab2", funurl="module-charts.html") 
            //-             b 业务表单
            //-         li.subnav-3-item
            //-           a(href="javascript:void(0)", mid="tab3", funurl="module-setup.html") 
            //-             b 网站构建
            //-         li.subnav-3-item
            //-           a(href="javascript:void(0)") 
            //-             b 数据源管理
            //-     li.subnav-2-item(data-expanded="false")
            //-       span 基础设置
            //-       ul.subnav-3-list
            //-         li.subnav-3-item
            //-           a(href="javascript:void(0)") 
            //-             b 基础设置子菜单
            //-     li.subnav-2-item(data-expanded="false")
            //-       span 业务表单管理
            //-       ul.subnav-3-list
            //-         li.subnav-3-item
            //-           a(href="javascript:void(0)") 
            //-             b 业务表单管理子菜单
            //- li.subnav-1-item(data-expanded="false")
            //-   span 模型编配
            //-   ul.subnav-2-list
            //-     li.subnav-2-item
            //-       span 
            //-         b 二级菜单

            //- li.subnav-1-item(data-expanded="false")
            //-   span 数据显示
            //-   ul.subnav-2-list
            //-     li.subnav-2-item
            //-       span 
            //-         b 二级菜单
                      

           
      .c-mainFrame__tabContent#mainFrameTabs
        ul.nav.nav-tabs(role="tablist")
          li.active.noclose(role="presentation")
            a(href="#bTabs_navTabsMainPage", data-toggle="tab") 首页

        .tab-content(style="height:650px")
          .tab-pane.active#bTabs_navTabsMainPage
            .page-header(style="height:100%")
              iframe(frameborder="0" scrolling="yes" style="width:100%;height:100%;border:0px;" src="module-index.html")

    .clear




   