extends ../partials/_template


block content
  .c-mainFrame
    .row-fluid
      .c-mainFrame__sideNav(data-js-sideNav, data-status="open")
        .menuSideBar
          .c-mainFrame__sideNav__arrow.js-arrow(data-status="open")
            .c-mainFrame__sideNav__arrow__image
          ul#menuSideBar.c-mainFrame__sideNav__navList.nav.nav-list
            li.subnav-1-item(data-expanded="false")
              span 数据管理
              //- 二级菜单
              ul.subnav-2-list
                li.subnav-2-item(data-expanded="false")
                  span 用户管理
                  //- 三级
                  ul.subnav-3-list
                    li.subnav-3-item
                      a(href="javascript:void(0)", mid="tab1", funurl="index.html") 统计分析类模型
                    li.subnav-3-item
                      a(href="javascript:void(0)") 角色管理
                    li.subnav-3-item
                      a(href="javascript:void(0)") 需求数据导入
                    li.subnav-3-item
                      a(href="javascript:void(0)") 数据源管理
                li.subnav-2-item(data-expanded="false")
                  span 基础设置
                  ul.subnav-3-list
                    li.subnav-3-item
                      a(href="javascript:void(0)") 基础设置子菜单
                li.subnav-2-item(data-expanded="false")
                  span 业务表单管理
                  ul.subnav-3-list
                    li.subnav-3-item
                      a(href="javascript:void(0)") 业务表单管理子菜单
            li.subnav-1-item(data-expanded="false")
              span 模型编配
              ul.subnav-2-list
                li.subnav-2-item
                  span 二级菜单

            li.subnav-1-item(data-expanded="false")
              span 数据显示
              ul.subnav-2-list
                li.subnav-2-item
                  span 二级菜单
                      

           
      .c-mainFrame__tabContent#mainFrameTabs
        ul.nav.nav-tabs(role="tablist")
          li.active.noclose(role="presentation")
            a(href="#bTabs_navTabsMainPage", data-toggle="tab") 首页

        .tab-content
          .tab-pane.active#bTabs_navTabsMainPage
            .page-header
              p 这里是首页
    .clear




   