extends ../partials/_template
block footer
block header

block content
  .c-module-edit.container-fluid
    form.c-form-module(method="POST" name="moduleEditForm" id="moduleEditForm" data-js-form-validator)
      .row
        .col-sm-6.c-module-edit__left
          .row
            .col-sm-3
              .form-group.text-label
                label.form__label(for="name") 名称
            .col-sm-9
              .form-group
                input.form-control(type="text" id="name" name="name" data-rule="required|alpha|max:30")
                div.text-danger.l-padding-top-1.hide.input-error-message 请输入名称
          .row
            .col-sm-3
              .form-group.text-label
                label.form__label(for="description") 描述
            .col-sm-9
              .form-group
                textarea.form-control(id="description" name="description" data-rule="required|max:200")
                div.text-danger.l-padding-top-1.hide.input-error-message 请输入描述
          .row
            .col-sm-3
              .form-group.text-label
                label.form__label(for="type") 类型
            .col-sm-9
              .form-group
                select.form-control(type="text" data-js-mobile-smart-label id="type" name="type" data-rule="required")
                  option(value="" class="active")
                  option(value="001") 类型1
                  option(value="002") 类型2
                div.text-danger.l-padding-top-1.hide.input-error-message 请输入类型
          .row
            .col-sm-3
              .form-group
                label.text-label(for='latitude1') 纬度1
            .col-sm-9.radioGroup.radioGroupActive
              .form-group
                .btn-group(data-toggle='buttons')
                  label.btn.btn-default.disabled
                    input#option1(type='radio', name='latitude1', autocomplete='off')
                    |  飞机型号
                  label.btn.btn-default.disabled
                    input#option2(type='radio', name='latitude1', autocomplete='off')
                    |  飞机型号
                  label.btn.btn-default.active
                    input#option3(type='radio', name='latitude1', autocomplete='on')
                    |  所属部队
                  label.btn.btn-default.disabled
                    input#option4(type='radio', name='latitude1', autocomplete='off')
                    |  供应商
          .row
            .col-sm-3
              .form-group.text-label
                label.form__label(for="latitude2") 纬度2
            .col-sm-9.radioGroup
              .form-group
                .btn-group(data-toggle='buttons')
                  label.btn.btn-default
                    input#optio51(type='radio', name='latitude2', autocomplete='off')
                    |  飞机型号
                  label.btn.btn-default.active
                    input#option6(type='radio', name='latitude2', autocomplete='on')
                    |  飞机型号
                  label.btn.btn-default
                    input#option7(type='radio', name='latitude2', autocomplete='off')
                    |  所属部队
                  label.btn.btn-default
                    input#option8(type='radio', name='latitude2', autocomplete='off')
                    |  供应商
          .row
            .col-sm-3
              .form-group.text-label
                label.form__label(for="target") 指标
            .col-sm-9.radioDouble
              .form-group
                .btn-group(data-toggle='buttons')
                  label.btn
                    input(type='radio', name='target', autocomplete='off')
                    |  飞机数量统计
                  label.btn.active
                    input(type='radio', name='target', autocomplete='on')
                    |  编辑指标
          .row
            .col-sm-3
              .form-group.text-label
                label.form__label(for="type1") 类型
            .col-sm-9.radioImgGroup
              .form-group
                .btn-group(data-toggle='buttons')
                  label.btn
                    input#optio9(type='radio', name='latitude2', autocomplete='off')
                    img.img-rounded(src="../assets/images/moudule-icon-1.jpg", alt="item")
                  label.btn.active
                    input#option10(type='radio', name='latitude2', autocomplete='on')
                    img.img-rounded(src="../assets/images/moudule-icon-2.jpg", alt="item")
                  label.btn
                    input#option11(type='radio', name='latitude2', autocomplete='off')
                    img.img-rounded(src="../assets/images/moudule-icon-3.jpg", alt="item")
                  label.btn
                    input#option12(type='radio', name='latitude2', autocomplete='off')
                    img.img-rounded(src="../assets/images/moudule-icon-4.jpg", alt="item")
                  label.btn
                    input#option13(type='radio', name='latitude2', autocomplete='off')
                    img.img-rounded(src="../assets/images/moudule-icon-5.jpg", alt="item")
                  label.btn
                    input#option14(type='radio', name='latitude2', autocomplete='off')
                    img.img-rounded(src="../assets/images/moudule-icon-6.jpg", alt="item")

        .col-sm-6
          .row
            .col-sm-12
              .form-group.text-label
                label.form__label(for="type") 图表预览
          .row
            .col-sm-12
              .form-group.c-module-edit__preview
                img(src="../assets/images/module-edit-preview.jpg", alt="item")

      .row.button-group
        .col-sm-6.button-single
          .form-group
            button.btn.btn-primary(type='button') 保存
        .col-sm-6.button-single
          .form-group
            button.btn.btn-default(type='button') 取消



      
