extends ../partials/_template
include ../mixins/_card-flip
block footer
block header
//- 业务表单
block content
  .c-module.c-module-charts.container-fluid
    form.c-form-module(method="POST" name="moduleEditForm" id="moduleChartsForm" data-js-form-validator)
      .c-module-charts__search-container.l-float-right
        input.c-module-charts__search-container__input
        button.c-module-charts__search-container__button 搜索
      ul.nav.nav-tabs(role="tablist")
        li(role="presentation")
          a(href="#contract", aria-controls="contract", role="tab", data-toggle="tab") 合同
        li(role="presentation")
          a(href="#equipment", aria-controls="equipment", role="tab", data-toggle="tab") 装备
      .tab-content(data-js-charts-filter)
        .tab-pane(role="tabpanel", id="contract")
          .radio-group(data-toggle="buttons")
            label.btn.btn-default(data-group-id="filterID1")
              input(type="radio", name="chartsOptionGroup1")
              | option1
            label.btn.btn-default(data-group-id="filterID2")
              input(type="radio", name="chartsOptionGroup1")
              | option2

          .filter-group#filterID1
            .filter-item 采购1
            .filter-item 采购2
            .filter-item 采购3
          .filter-group#filterID2
            .filter-item 统计
            .filter-item 统计2
            .filter-item 统计3
        .tab-pane(role="tabpanel", id="equipment")
          .radio-group(data-toggle="buttons")
            label.btn.btn-default(data-group-id="filterID3")
              input(type="radio", name="chartsOptionGroup1")
              | 飞机
            label.btn.btn-default(data-group-id="filterID4")
              input(type="radio", name="chartsOptionGroup1")
              | 发动机
            label.btn.btn-default(data-group-id="filterID5")
              input(type="radio", name="chartsOptionGroup1")
              | 雷达
          .filter-group#filterID3
            .filter-item Filter1
          .filter-group#filterID4
            .filter-item Filter2
            .filter-item FilterZ
          .filter-group#filterID5
            .filter-item FilterY
            .filter-item FilterX

      .c-module-charts__grid
        +card-flip







      
