include ../mixins/_header
include ../mixins/_footer

doctype html
html(lang=config.language)
  include _head
  body
    block header
      +header(true)
    
    block content
    block footer
      +footer
  include _foot